!
no ip http server
no ip http secure-server
ip ssh server algorithm authentication password
ip scp server enable
!
line con 0
 password {{ansible_ssh_pass}}
line aux 0
line vty 0 4
 exec-timeout 720 0
 login local
 transport input telnet ssh
!
end