[submodule "VLAN-Service"]
	path = VLAN-Service
	url = https://github.com/ipspace/VLAN-service.git
[submodule "Routing-Deployment"]
	path = Routing-Deployment
	url = https://github.com/ipspace/MPLS-infrastructure
[submodule "Private/ConfigRepo"]
	path = Private/ConfigRepo
	url = https://gitlab.com/ipspace/ConfigRepo
