#
# Nodes in the network
#
{% macro internal_link(name,ip,cost) %}
{{ name }}: { ip: {{ip}} {% if cost %}, cost: {{cost}}{% endif %} }{% endmacro %}

---
nodes:
{% for node in nodes %}

  {{ node.name }}:
    mgmt: {{ node.mgmt }}
    rid:  {{ node.rid }}
    links:
{%   for link in fabric %}
{%     if link.left == node.name %}
      {{ internal_link(link.left_port,link.left_ip,link.cost|default('')) }}
{%     elif link.right == node.name %}
      {{ internal_link(link.right_port,link.right_ip, link.cost|default('')) }}
{%     endif %}
{%   endfor %}
{% endfor %}
