{% from 'format.j2' import hostname,ifname with context %}
{% for local in play_hosts %}
{%  for intf,lldp in hostvars[local].napalm_lldp_neighbors|dictsort if lldp|length > 0 %}
{%   for n in lldp if local < n.hostname %}
{{ hostname(hostvars[local].napalm_fqdn)}}:{{ifname(intf)}} -- {{hostname(n.hostname)}}:{{ifname(n.port)}}
{%   endfor %}
{%  endfor %}
{% endfor %}
