{% for local in play_hosts %}
{%  for ifname,lldp in hostvars[local].napalm_lldp_neighbors|dictsort if lldp|length > 0 %}
{%   for n in lldp %}
{{local}}:{{ifname}} -- {{n.hostname}}:{{n.port}}
{%   endfor %}
{%  endfor %}
{% endfor %}
