{# 
  Create VRF definitions 
#}
{% for cust,vpn in vpnv4|dictsort %}
{%   for node,def in vpn.nodes|dictsort %}
{%     if inventory_hostname == node %}
vrf definition {{ cust }}
 rd {{ vpn.rd }}
 route-target import {{ vpn.rt | default(vpn.rd) }}
 route-target export {{ vpn.rt | default(vpn.rd) }}
 address-family ipv4
!
{%     endif %}
{%   endfor %}
{% endfor %}
{# 
   Create interfaces
#}
{% for cust,vpn in vpnv4|dictsort %}
{%   for node,def in vpn.nodes|dictsort %}
{%     if inventory_hostname == node %}
{%       for ifname,ifdef in def|dictsort %}
interface {{ ifname }}
 vrf forwarding {{ cust }}
 ip address {{ifdef.ip | ipaddr('address')}} {{ifdef.ip | ipaddr('netmask')}}
!
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endfor %}
{#
  Create VPN address families in BGP process
#}
router bgp {{ nodes[inventory_hostname].as }}
{% for cust,vpn in vpnv4|dictsort %}
{%   for node,def in vpn.nodes|dictsort %}
{%     if inventory_hostname == node %}
{%       for ifname,ifdef in def|dictsort %}
 address-family ipv4 vrf {{ cust }}
  maximum-paths eibgp 4
  redistribute connected
!
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endfor %}
