{% macro internal_link(name) %}
interface {{ name }}
 ip ospf 1 area 0
{% endmacro %}

{% set node = nodes|selectattr('name','equalto',inventory_hostname)|first %}

default router ospf 1
router ospf 1
 router-id {{ node.rid }}

{% for link in fabric %}
{% if inventory_hostname == link.left %}
{{ internal_link(link.left_port) }}
{% elif inventory_hostname == link.right %}
{{ internal_link(link.right_port) }}
{% endif %}
{% endfor %}